@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --primary: #e31e25;
  --secondary: #011945;
}

/* Apply Poppins Everywhere */

body {
  font-family: 'Poppins', sans-serif;
}

/* ============================= */
/* BODY TEXT */
/* ============================= */

body {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
}

/* ============================= */
/* HEADINGS */
/* ============================= */

h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.35;
}

h5,
h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

p {
  font-size: 13px;
  font-weight: 400;
}

strong {
  font-weight: 700;
}
/* global background */
.globle-bg {
  @apply 
  relative  text-white

before:content-['']
before:absolute before:inset-0
before:bg-[linear-gradient(149deg,var(--secondary)_0%,var(--secondary)_60%,transparent_140%)]
before:z-[-1]
after:content-['']
after:absolute
after:inset-0
after:bg-black/25
after:z-[-1]
}
/* button */
.primary-btn,
.secondary-btn {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

/* ============================= */
/* PRIMARY BUTTON */
/* Normal: bg primary / text secondary */
/* ============================= */

.primary-btn {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
}

.primary-btn:hover {
  background-color: var(--secondary);
  color: white;
  border-color: var(--secondary);
  border: 1px solid white;
}

/* ============================= */
/* SECONDARY BUTTON */
/* Normal: bg secondary / text primary */
/* ============================= */

.secondary-btn {
  background-color: var(--secondary);
  color: white;
  border-color: var(--secondary);
}

.secondary-btn:hover {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
}


/* home industry card animation */
@keyframes slideInRight40 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInRight40 {
  animation: slideInRight40 8s ease-in-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
body {
  overflow-x: hidden;
}


